---
- name: Install tmux
  hosts: all
  gather_facts: False
  tags: tmux
  tasks:
    - name: Install tmux
      become: true
      apt:
        name: tmux
    - name: Install tpm
      ansible.builtin.git:
        repo: 'https://github.com/tmux-plugins/tpm'
        dest: "~/.tmux/plugins/tpm"
        version: master
