---
- name: Install JDK
  hosts: all
  gather_facts: False
  tags: java,jvm
  vars:
    jdk_14_dir: /usr/lib/jvm/jdk-14
  tasks:
    - name: Install multiple JDKs
      become: true
      apt:
        state: present
        name: '{{ item }}'
      loop:
        - openjdk-8-jdk
        - openjdk-8-source
        - openjdk-11-jdk
        - openjdk-11-source
        - openjdk-17-jdk
        - openjdk-17-source
        - openjdk-21-jdk
        - openjdk-21-source
        - openjdk-25-jdk
        - openjdk-25-source
    - name: Check if java 14 is installed
      stat:
        path: '{{ jdk_14_dir }}'
      register: java_14
      changed_when: false
    - name: Download java 14
      when: not java_14.stat.exists
      get_url:
        url: https://download.java.net/java/GA/jdk14/076bab302c7b4508975440c56f6cc26a/36/GPL/openjdk-14_linux-x64_bin.tar.gz
        dest: /tmp/openjdk-14_linux-x64_bin.tar.gz
        timeout: 60
      register: download
      until: download is success
      retries: 3
      delay: 5
      changed_when: false
    - name: Install java 14
      when: not java_14.stat.exists
      become: true
      unarchive:
        src: /tmp/openjdk-14_linux-x64_bin.tar.gz
        dest: /usr/lib/jvm
        remote_src: yes
        creates: '{{ jdk_14_dir }}'
