---
- name: Install logseq
  hosts: all
  gather_facts: False
  tags: graphical,knowledge,logseq
  tasks:
    - name: Install/refresh Logseq
      become: true
      community.general.snap:
        name: logseq
        state: present
